.content-infos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 150px;
}

.infos-home{
    text-align: center;
    font-size: 20px;
}

.infos-home span{
    font-weight: 600;
}